@page "/Organizations"
@using System.Text.Json
@using DonationApplicationBlazor.Models

<h3>Organizations</h3>

@foreach(var org in orgs)
{
    <p>
        <b>*@org.OrganizationName</b>
    </p>
}

@code {

    string API_URL = "http://localhost:5109/";

    private IEnumerable<OrganizationsModel> orgs = Array.Empty<OrganizationsModel>();

    private async Task refreshList()
    {
        HttpClient httpClient = new HttpClient();
        HttpResponseMessage response = await httpClient.GetAsync(API_URL + "api/Organizations/GetOrganizations");
        httpClient.Dispose();
        using var responseStream = await response.Content.ReadAsStreamAsync();
        orgs = await JsonSerializer.DeserializeAsync<IEnumerable<OrganizationsModel>>(responseStream);

    }

    protected override async Task OnInitializedAsync()
    {
        await this.refreshList();
    }
}
